<section id="project" class="first">
    <div class="container">
        <h1>Prompt Boxes</h1>

        <p>
            A Javascript plugin to select an area of an image. I couldn't find a suitable plugin to use for a project, so I decided to
            create my own. It's not been optimised for mobile yet but it's in the road map!
        </p>

        <p>
            If you'd like to use this it's available to download on
            <a href="https://www.npmjs.com/package/prompt-boxes" target="_blank" rel="noopener">npm</a>
            or you can see the source code on
            <a href="https://github.com/robholden/Prompt-Boxes" target="_blank" rel="noopener">Github</a>.
        </p>

        <h4>Try it out</h4>
        <a (click)="permanent()" class="button">Permanent Toast</a>
        <a (click)="success()" class="button">Success</a>
        <a (click)="danger()" class="button">Error</a>
        <a (click)="info()" class="button">Info</a>
        <a (click)="alert()" class="button">Alert</a>
        <a (click)="confirm()" class="button">Confirm</a>
        <a (click)="prompt()" class="button">Prompt</a>
        <a (click)="clear()" class="button">Clear</a>

        <h4>Features</h4>
        <ul>
            <li>Stack toast with a given limit</li>
            <li>Permanent or timed toast</li>
            <li>Option to manually close toasts</li>
            <li>Toast as a success, warning or information style</li>
            <li>Confirmation prompt</li>
            <li>Dialogue prompt</li>
            <li>Alert box</li>
            <li>Download via npm</li>
        </ul>

        <h4>Stack</h4>
        <ul>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
        </ul>

        <br />

        <p>
            <a href="https://github.com/robholden/Prompt-Boxes" target="_blank" rel="noopener" class="button">View on Github</a>
            <a href="https://www.npmjs.com/package/prompt-boxes" target="_blank" rel="noopener" class="button">View on NPM</a>
        </p>
    </div>
</section>
