<section>
  <div class="container">
    <h1 class="milestone fade-up">
      Projects
    </h1>
    
    <div class="milestone fade-left">
      <a routerLink="/projects/snow-capture" class="project-card">
        <img src="/assets/images/projects/snow-capture.jpg" />
        <div>
          <h3>Snow Capture</h3>
          <p>A personal development project using Angular 4 & C# Web Api.</p>
        </div>
        <p>
          <span class="button">View Project</span>
          <i class="fa fa-angle-right"></i>
        </p>
      </a>
    </div>

    <div class="milestone fade-left">
      <a routerLink="/projects/frank-colucci" class="project-card">
        <img src="/assets/images/projects/frank-colucci.jpg" />
        <div>
          <h3>Wordpress - Frank Colucci</h3>
          <p>A custom template built for Wordpress.</p>
        </div>
        <p>
          <i class="fa fa-angle-right"></i>
        </p>
      </a>
    </div>

    <div class="milestone fade-left">
      <a routerLink="/projects/image-area-selector" class="project-card">
        <img src="/assets/images/projects/image-area-selector.png" />
        <div>
          <h3>Image Area Selector</h3>
          <p>A Javascript plugin for selecting an area of an image.</p>
        </div>
        <p>
          <i class="fa fa-angle-right"></i>
        </p>
      </a>
    </div>

    <div class="milestone fade-left">
      <a routerLink="/projects/prompt-boxes" class="project-card">
        <img src="https://media.giphy.com/media/oXcJZgdxOLBvy/giphy.gif" />
        <div>
          <h3>Prompt Boxes</h3>
          <p>A Javascript plugin for toasts and prompts.</p>
        </div>
        <p>
          <i class="fa fa-angle-right"></i>
        </p>
      </a>
    </div>

    <div class="milestone fade-left">
      <a routerLink="/blog" class="project-card">
        <img src="/assets/images/projects/snow-capture.jpg" />
        <div>
          <h3>Blog</h3>
          <p>See what I'm up to.</p>
        </div>
        <p>
          <i class="fa fa-angle-right"></i>
        </p>
      </a>
    </div>
  </div>
</section>