.cl { clear: both; }
.fr { float: right; }
.fl { float: left; }

.mg-none { margin: 0 !important; }
.mg-top { margin-top: 1em; }
.mg-right { margin-right: 1em; }
.mg-bottom { margin-bottom: 1em; }
.mg-left { margin-left: 1em; }

.pg-none { padding: 0 !important; }
.pg-top { padding-top: 1em; }
.pg-right { padding-right: 1em; }
.pg-bottom { padding-bottom: 1em; }
.pg-left { padding-left: 1em; }

body {
  font-family: $font-family;
  font-size: 16px;
  background: $light-grey;
}

a, div, input, button, i {
  transition: ease 0.25s;
}

h1, h2, h3, h4 {
  color: $orange;
  font-family: $fancy-font;
}

.no-animation {
  a, div, input, button {
    transition: none;
  }
}

a {
  cursor: pointer;
  color: $orange;
  text-decoration: none;

  &:hover {
    color: $dark-orange;
    text-decoration: none;
  }
}

.button {
  display: inline-block;
  font-size: 0.9em;
  margin: {
    top: 0.75em; 
    right: 0.5em;
  }
  padding: 0.75em 1em;
  border-radius: $border-radius;
  border: 1px solid #333;
  color: #333;
  cursor: pointer;
  background: none;

  &:hover {
    border-color: $orange;
    color: $orange;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.75;
    border-color: $grey;
    color: $grey;
  }
}