form {
  .label {
    display: block;
    margin-bottom: 10px;
  }

  *[floating-label] {
    display: block;
    opacity: 0;
    transform: translateY(10px);
    transition: ease 0.25s;
    font-size: 14px;
    margin-top: -14px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;

    &.show {
      opacity: 1;
      transform: translateY(0);
      margin-top: 0;
      padding-top: 1rem;
    }
  }

  input[type="text"], input[type="password"], textarea,
  .input, .textarea, .CodeMirror {
    display: block;
    position: relative;
    width: 100%;
    padding: 1rem 0.75rem;
    border: none;
    border-bottom: 2px solid $light-orange;
    box-shadow: none;
    appearance: none;
    outline: none;
    background: $white;
    z-index: 2;
    font-size: 1rem;
    color: $black;
    font-family: $font-family;
    border-radius: 0;

    &:focus {
      border-color: $orange;
    }
  }

  button {
    outline: none;
    border: none;
    box-shadow: none;
  }

  textarea, .textarea {
    max-height: 250px;
  }
}

.content-it {  
  .editor-toolbar.fullscreen, .editor-preview-side, .CodeMirror-fullscreen {
    z-index: 9999999;
  }

  .editor-preview-side {
    border: none;
    background: $light-white;
  }

  .editor-toolbar, .editor-toolbar.fullscreen {
    border: none;
    background: $light-orange;

    &:before, &:after {
      background: transparent;
    }
    
    a {
      border: none;

      &.active {
        margin: {
          right: 4px;
          left: 4px;
        }
      }
    }

    i.separator {
      border: none;
      background: $orange;
      width: 5px;
      height: 5px;
    }
  }
}


.custom-checkbox {
  &:not(:checked), &:checked {
    position: absolute;
    left: -9999px;

    & + label {
      position: relative;
      padding-left: 2rem;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        left: 0; 
        top: -4px;
        width: 22px; 
        height: 20px;
        border: 2px solid $orange;
        background: $light-white;
        border-radius: 4px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
      }

      &:after {
        content: '✔';
        position: absolute;
        top: -1px; 
        left: 6px;
        font-size: 18px;
        line-height: 1;
        color: $orange;
        transition: all .2s;
      }
    }
  }

  &:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }

  &:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  &:disabled:not(:checked), &:disabled:checked {
    & + label:before {
      box-shadow: none;
      border-color: $grey;
      background-color: $grey;
    }
  }

  &:disabled:checked + label:after {
    color: $grey;
  }

  &:disabled + label {
    color: $grey;
  }
}