<app-nav page="blog"></app-nav>

<app-popup *ngIf="goToLogin" [(show)]="goToLogin" [class.open]="goToLogin">
  <app-login [(show)]="goToLogin"></app-login>
</app-popup>

<section class="first">
  <div class="container">
    <h1 class="mg-bottom">
      Blog
    </h1>

    <div class="box white pg-large" *ngIf="loading">
      Loading Posts...
    </div>

    <div *ngIf="!loading">
      <div *ngIf="!posts" class="box white pg-large">
        Nothing to show
      </div>

      <div *ngIf="posts">
        <div *ngIf="posts.length === 0" class="box white pg-large">
          Nothing to show
        </div>

        <div *ngFor="let post of posts">
          <a [routerLink]="'/blog/post/' + post.slug" class="project-card">
            <img src="/assets/images/blog/blog-default.jpg" />
            <div>
              <h3>{{ post.heading }}</h3>
              <p>{{ post.blurb }}</p>
            </div>
            <p>
              <i class="fa fa-angle-right"></i>
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>