<div id="project-img" class="first">
    <div class="selector-container">
        <img id="img" src="/assets/images/projects/image-area-selector/owl-small.jpg" (click)="selector.show()" />
        <img
            id="preview"
            style="
                position: absolute;
                bottom: 10px;
                right: 10px;
                height: 15vw;
                max-height: 150px;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.5);
            "
        />
    </div>
</div>

<section id="project">
    <div class="container">
        <h1>Image Area Selector</h1>

        <p>
            A Javascript plugin to select an area of an image. I couldn't find a suitable plugin to use for a project, so I decided to
            create my own. It's not been optimised for mobile yet but it's in the road map!
        </p>

        <p>
            If you'd like to use this it's available to download on
            <a href="https://www.npmjs.com/package/image-area-selector" target="_blank" rel="noopener">npm</a> or you can see the source
            code on <a href="https://github.com/robholden/ImageAreaSelector" target="_blank" rel="noopener">Github</a>.
        </p>

        <h4>Features</h4>
        <ul>
            <li>Pure Javascript, no dependencies needed</li>
            <li>Specify height and width (min/max)</li>
            <li>Use native or relative units</li>
            <li>Maintain image aspect ratio or use given custom ratio</li>
            <li>Watch events during selection</li>
            <li>Thumbnail preview support</li>
            <li>Crop locally</li>
            <li>Download via npm</li>
        </ul>

        <h4>Stack</h4>
        <ul>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
        </ul>

        <br />

        <p>
            <a href="https://github.com/robholden/ImageAreaSelector" target="_blank" rel="noopener" class="button">View on Github</a>
            <a href="https://www.npmjs.com/package/image-area-selector" target="_blank" rel="noopener" class="button">View on NPM</a>
        </p>
    </div>
</section>
