<section id="project" class="first">
  <div class="container">
    <h1>
      Prompt Boxes
    </h1>

    <img src="https://media.giphy.com/media/oXcJZgdxOLBvy/giphy.gif" width="275">
    <img src="https://media.giphy.com/media/OAscHqRSi6a9W/giphy.gif" width="275">
    <img src="https://media.giphy.com/media/10BsPpLXKTW67m/giphy.gif" width="275">

    <br />
    <br />

    <h4>About it</h4>
    <p>
      A Javascript plugin to select an area of an image. 
      I couldn't find a suitable plugin to use for a project, so I decided to create my own.
      It's not been optimised for mobile yet but it's in the road map!
    </p>

    <p>
      If you'd like to use this it's available to download on <a href="https://www.npmjs.com/package/prompt-boxes" target="_blank">npm</a>
      or you can see the source code on <a href="https://github.com/robholden/Prompt-Boxes" target="_blank">Github</a>.
    </p>

    <h4>Try it out</h4>
    <a (click)="success()" class="button">Success</a>
    <a (click)="danger()" class="button">Error</a>
    <a (click)="info()" class="button">Info</a>
    <a (click)="confirm()" class="button">Confirm</a>
    <a (click)="prompt()" class="button">Prompt</a>
    <a (click)="clear()" class="button">Clear</a>

    <h4>Features</h4>
    <ul>
      <li>Stack toast with a given limit</li>
      <li>Toast as a success, warning or information style</li>
      <li>Confirmation prompt</li>
      <li>Dialogue prompt</li>
      <li>Download via npm</li>
    </ul>
    
    <h4>Stack</h4>
    <ul>
      <li>Javascript</li>
      <li>HTML</li>
      <li>CSS</li>
    </ul>

    <br />

    <p>
      <a href="https://github.com/robholden/Prompt-Boxes" target="_blank" class="button">View on Github</a>
    </p>
  </div>
</section>
