<app-nav page="blog"></app-nav>

<section class="first">
  <div class="container">
    <h1>
      Post Editor
    </h1>

    <div *ngIf="loading" class="box white pg-large">
      Loading post...
    </div>

    <form #postForm="ngForm" class="form mg-top" (submit)="save()" *ngIf="!loading">
      <button type="submit" class="button primary mg-bottom" [disabled]="!postForm.form.valid || saving">
        {{ saving ? 'Saving' : 'Save' }}
        <i class="fa fa-spinner fa-spin i-right" *ngIf="saving"></i>
      </button>
      <a class="button danger mg-bottom fr" *ngIf="!creating" (click)="delete()">
        {{ deleting ? 'Deleting' : 'Delete' }}
        <i class="fa fa-spinner fa-spin i-right" *ngIf="deleting"></i>
      </a>
      
      <div class="form-block mg-bottom">
        <label for="post-heading" floating-label [class.show]="post.heading !== ''">Heading</label>
        <input id="post-heading" type="text" name="heading" [(ngModel)]="post.heading" placeholder="Heading" required />
      </div>

      <div class="form-block mg-bottom">
        <label for="post-slug" floating-label [class.show]="post.slug !== ''">Slug</label>
        <input id="post-slug" type="text" name="slug" [(ngModel)]="post.slug" placeholder="Slug" required />
      </div>

      <div class="pg-top mg-bottom">
        <h3>Media Centre</h3>
        <br />
        <app-media></app-media>
      </div>
      
      <div class="form-block mg-bottom">
        <label for="post-feature" floating-label [class.show]="post.featureImageUrl !== ''">Feature Image</label>
        <input id="post-feature" type="text" name="feature" [(ngModel)]="post.featureImageUrl" placeholder="Feature Image" required />
      </div>

      <div class="form-block mg-bottom">
        <label for="post-blurb" floating-label [class.show]="post.blurb !== ''">Blurb</label>
        <textarea id="post-blurb" name="blurb" [(ngModel)]="post.blurb" placeholder="Blurb" rows="4" required></textarea>
      </div>

      <div class="form-block content-it mg-bottom">
        <label floating-label class="show">Body</label>
        <app-mdeditor [(model)]="post.body"></app-mdeditor>
      </div>

      <button type="submit" class="button primary" [disabled]="!postForm.form.valid || saving">
        {{ saving ? 'Saving' : 'Save' }}
        <i class="fa fa-spinner fa-spin i-right" *ngIf="saving"></i>
      </button>
      <a class="button danger fr" *ngIf="!creating" (click)="delete()">
        {{ deleting ? 'Deleting' : 'Delete' }}
        <i class="fa fa-spinner fa-spin i-right" *ngIf="deleting"></i>
      </a>
    </form>
  </div>
</section>