<div id="project-img" class="first">
  <slideshow [imageUrls]="images" [height]="'50vh'"></slideshow>
</div>

<section id="project">
  <div class="container">
    <h1>
      Snow Capture
    </h1>

    <p>
      Snow Capture is personal project I've been working for a while now. It is what I use to
      learn and test new tech & ideas I have. I started the project four years ago in PHP but I've 
      since re-built the entire code base into C# and Angular 4.
    </p>

    <h4>Features</h4>
    <ul>
      <li>User authentication</li>
      <li>Image uploading</li>
      <li>Image geocode detection</li>
      <li>Location lookup algarithm (using Google maps)</li>
    </ul>
    
    <h4>Stack</h4>
    <ul>
      <li>C# / .NetCore</li>
      <li>Entity Framework</li>
      <li>TypeScript</li>
      <li>Angular 6</li>
      <li>HTML5</li>
      <li>CSS3/Sass</li>
    </ul>

    <br />
    <a href="https://snowcapture.com" target="_blank" class="button mg-top">View Website</a>
    <a href="https://github.com/robholden" target="_blank" class="button mg-top mg-left">View on Github</a>
  </div>
</section>
