header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1em;
    height: $nav-height;
    background: $black;
    z-index: 997;
    text-align: center;

    &.init {
        nav,
        h1 {
            transition: ease 0.25s;
        }
    }

    h1 {
        float: left;
        top: 5px;
        opacity: 0;
        z-index: -1;

        font-size: 1.5em;
        text-shadow: -1px 0 #000;
        font-family: $font-family;

        span {
            &:first-child {
                color: $blue;
            }
            &:last-child {
                color: $orange;
            }
        }
    }

    nav {
        position: absolute;
        right: 0;
        top: 2px;
        width: 100%;
        margin: auto;

        ul {
            li {
                display: inline-block;
                padding: 0.25em;

                &:last-child {
                    padding-right: 0;

                    a {
                        margin-right: 0;
                    }
                }

                a {
                    color: $white;
                    margin: 0.5rem;

                    i {
                        top: 0;
                        color: $orange;
                        margin-right: 5px;
                    }

                    &:hover {
                        color: $blue;

                        i {
                            color: $blue;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        &.show {
            h1 {
                top: 0;
                opacity: 1;
                z-index: 1;
            }

            nav {
                width: 265px;
            }
        }
    }
}

#post-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background: $grey;
    z-index: 997;
    text-align: left;

    ul {
        li {
            display: inline-block;
            margin-right: 1em;
        }
    }

    a {
        color: $black;
    }
}
