header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  background: $black;
  z-index: 997;
  text-align: center;

  &.init {
    nav, h1 {
      transition: ease 0.25s;
    }
  }

  h1 {
    float: left;
    top: 5px;
    opacity: 0;
    z-index: -1;

    font-size: 1.5em;
    text-shadow: -1px 0 #000;

    span {
      &:first-child { color: $blue; }
      &:last-child { color: $orange; }
    }
  }

  nav {
    position: absolute;
    right: 0;
    width: 100%;
    margin: auto;
    
    ul {
      li {
        display: inline-block;
        padding: 0.25em 0.75em;
        
        a {
          color: $white;

          i {
            top: -2px;
            color: $orange;
            margin-right: 0.45em;
          }

          &:hover {
            color: $blue;

            i { color: $blue; }
          }
        }
      }
    }
  }

  &.show {
    h1 {
      top: -3px;
      opacity: 1;
      z-index: 1;
    }

    nav {
      width: 550px;
    }
  }
}
