@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,500,600,700|Montserrat|Alegreya+Sans+SC|Cookie');

$font-family: 'Baloo Chettan 2', serif;
$block-font: 'Alegreya Sans SC';
$fancy-font: 'Cookie';

$nav-height: 50px;
$side-menu-width: 350px;
$post-nav-height: 50px;

$light-white: #fff;
$white: #f9f9f9;
$dark-white: #f3f3f3;

$light-grey: #eee;
$grey: #bbb;
$dark-grey: #777;

$light-black: #555;
$black: #252525;
$dark-black: #000;

$light-orange: #ffb1b1;
$orange: #f66;
$dark-orange: #f11;

$light-blue: #7dccfd;
$blue: #4d9ac9;
$dark-blue: #2f719a;

$light-red: #ff7575;
$red: #da4242;
$dark-red: #af3535;

$pink: #f69;
