<section id="project" class="first">
    <div class="container">
        <h1>CCTV Gimmick</h1>

        <p>
            A Javascript plugin that shows a cctv camera that moves when a user scrolls up & down a web page. It will also blink when the
            user moves their cursor to pretend it is recording...
        </p>

        <p>
            Right clicking on it will "lock" you out, and you will have to enter a pin (<strong>12345</strong>) to regain access. Or, just
            reload the page!
        </p>

        <p>
            If you'd like to use this it's available to download on
            <a href="https://github.com/robholden/CCTV" target="_blank" rel="noopener">Github</a>.
        </p>

        <h4>Features</h4>
        <ul>
            <li>Tracks scroll movement</li>
            <li>"Records" motion</li>
            <li>Locks out user when right clicking the camera</li>
        </ul>

        <h4>Stack</h4>
        <ul>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
        </ul>

        <br />

        <p>
            <a href="https://github.com/robholden/CCTV" target="_blank" rel="noopener" class="button">View on Github</a>
        </p>
    </div>
</section>
