
<section class="white">
  <div class="container">
    <h1 class="milestone fade-up">
      Skills
    </h1>

    <div class="info-block milestone fade-up fade-multiple">
      <h3>
        <i class="fa fa-edit"></i>
        Languages
      </h3>
      <span>C#</span>
      <span>Visual Basic</span>
      <span>Javascript</span>
      <span>TypeScript</span>
      <span>SQL</span>
      <span>PHP</span>
      <span>HTML5</span>
      <span>CSS3</span>
      <span>Sass</span>
      <span>MySQL</span>
      <span>SQL Server</span>
      <span>WPF</span>
    </div>

    <div class="info-block milestone fade-up fade-multiple">
      <h3>
        <i class="fa fa-folder-open"></i>
        Frameworks
      </h3>
      <span>Angular2</span>
      <span>.NET Core 2.0</span>
      <span>.NET Web Api 2</span>
      <span>.NET MVC</span>
      <span>.NET Web Forms</span>
      <span>Entity Framework</span>
      <span>Node.js</span>
      <span>AngularJS</span>
      <span>Ionic2</span>
      <span>JQuery</span>
      <span>Git</span>
      <span>Team Foundation Server</span>
      <span>Wordpress</span>
    </div>

    <div class="info-block milestone fade-up fade-multiple">
      <h3>
        <i class="fa fa-television"></i>
        Software
      </h3>
      <span>Visual Studio</span>
      <span>Visual Studio Code</span>
      <span>Sublime Text</span>
      <span>SQL Management Studio</span>
      <span>Microsoft Server</span>
      <span>IIS</span>
      <span>Xcode</span>
      <span>Photoshop</span>
    </div>

    <div class="info-block milestone fade-up fade-multiple">
      <h3>
        <i class="fa fa-trophy"></i>
        Attributes
      </h3>
      <span>Team Work</span>
      <span>Client Interaction</span>
      <span>Project Management</span>
      <span>Time Management</span>
      <span>Social Awareness</span>
      <span>Patience</span>
      <span>Intuitive</span>
      <span>Open Minded</span>
    </div>

    <div class="info-block milestone fade-up fade-multiple">
      <h3>
        <i class="fa fa-soccer-ball-o"></i>
        Hobbies
      </h3>
      <span>Reading Football Club</span>
      <span>Skiing</span>
      <span>Coding</span>
      <span>Gaming</span>
    </div>
  </div>
</section>