<section class="white">
    <div class="container">
        <div class="on-the-left">
            <div class="info-block">
                <h1 class="milestone fade-up">About me</h1>

                <div class="milestone fade-left">
                    <p>
                        If you didn't guess, my name is Robert. I'm a full-stack developer from London. I'm 26 years old, and have a
                        bachelors degree in Forensic Computing, but my time at uni ultimately led me into web development. I spent fours
                        years from uni at <a href="http://www.liquidmodules.com" target="_blank" rel="noopener">Liquid Modules</a>.
                    </p>

                    <p>I'm now based in central London working with the latest technology for the ticketing based company FortressGB</p>

                    <p>
                        I have been a part of many projects that range from .NET web forms to Ionic 2 mobile apps. I'm a very versatile
                        programmer with a very positive attitude. When I'm involved in projects I tend to bring structure and organisation
                        (where applicable). I focus heavily on requirements and preparation because programming a project in the dark will
                        eventually lead to a crash.
                    </p>

                    <p>
                        I am a very ambitious, motivated and enthusiastic programmer. I am always looking learn and keep developing my
                        skills. Whether it's learning a new framework, language or just finding some new tips - I'm very open minded and
                        always ready for a challenge.
                    </p>

                    <p>
                        Things you can always expect with my programming is that it's well structured, tidy and documented. I'm a sucker for
                        learning new things. Currently I'm building an application with an Angular 2 front-end with .NET Core 2.0 as my api
                        framework (integrating with Entity Framework).
                    </p>
                </div>
            </div>
        </div>

        <div class="on-the-right milestone fade-right">
            <div class="home-image">
                <img src="/assets/images/silhouette.png" class="milestone" />
            </div>
        </div>
    </div>
</section>
