<div id="project-img" class="first">
  <slideshow [imageUrls]="images" [height]="'50vh'"></slideshow>
</div>

<section id="project">
  <p>
    A personal project I'm working on. I'm using it to improve and learn new technologies.
  </p>

  <u>Features</u>
  <ul>
    <li>User authentication</li>
    <li>Image uploading</li>
    <li>Image geocode detection</li>
    <li>Location lookup algarithm (using Google maps)</li>
  </ul>
  
  <u>Stack</u>
  <ul>
    <li>C# / .NetCore</li>
    <li>Microsoft SQL</li>
    <li>Angular2</li>
    <li>HTML5</li>
    <li>CSS3/Sass</li>
  </ul>

  <br />
  <a href="http://snowcapture.com" target="_blank" class="button mg-top">View Website</a>
  <a href="https://github.com/robholden/SnowCapture" target="_blank" class="button mg-top mg-left">View on Github</a>
</section>
