<app-nav [(page)]="page" [routeRedirect]="false"></app-nav>

<section id="home" class="first full">
    <div class="container">
        <div class="retro-logo" [style.transform]="offset">
            <h1>Robert Holden</h1>

            <div class="full-stack">
                <div></div>
                <h2>Full-Stack Developer</h2>
                <div></div>
            </div>

            <div class="location">
                <span>.net core & angular</span>
                &bull;
                <span>London</span>
            </div>

            <div class="icons">
                <ul>
                    <li class="facebook">
                        <a
                            class="fa fa-github-square"
                            href="http://www.github.com/robholden"
                            target="_blank"
                            rel="noopener"
                            title="/robholden"
                        ></a>
                    </li>
                    <li class="twitter">
                        <a
                            class="fa fa-twitter-square"
                            href="http://www.twitter.com/RobHolden"
                            target="_blank"
                            rel="noopener"
                            title="@RobHolden"
                        ></a>
                    </li>
                    <li class="instagram">
                        <a
                            class="fa fa-instagram"
                            href="http://instagram.com/theonlyholden"
                            target="_blank"
                            rel="noopener"
                            title="/TheOnlyHolden"
                        ></a>
                    </li>
                    <li class="linked-in">
                        <a
                            class="fa fa-linkedin-square fa-1x"
                            href="http://uk.linkedin.com/in/holden2"
                            target="_blank"
                            rel="noopener"
                            title="/Holden2"
                        ></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<app-skills id="skills"></app-skills>

<app-project-list id="projects"></app-project-list>

<!-- <app-about id="about"></app-about> -->
