<div class="first">
  <slideshow [imageUrls]="images" [height]="'50vh'"></slideshow>
</div>
  
<section id="project">
  <p>
    I was presented with a pre-designed website. I successfully transformed the design into a fully customisable site using Wordpress.
  </p>

  <u>Features</u>
  <ul>
    <li>Soundcloud Integration</li>
    <li>Contact Form</li>
    <li>ACF guided CMS (Advanced Custom Fields)</li>
    <li>Custom Template</li>
  </ul>
  
  <u>Stack</u>
  <ul>
    <li>PHP</li>
    <li>MySQL</li>
    <li>HTML5</li>
    <li>CSS3/Sass</li>
  </ul>

  <br />
  <a href="http://frankcolucci.com" target="_blank" class="button mg-top">View Website</a>
</section>
