<div class="first">
  <slideshow [imageUrls]="images" [height]="'50vh'"></slideshow>
</div>

<section id="project">
  <div class="container">
    <h1>
      Frank Colucci
    </h1>
      
    <p>
      I was presented with a pre-designed website in which I successfully transformed into a fully customisable site using Wordpress.
    </p>

    <h4>Features</h4>
    <ul>
      <li>Soundcloud Integration</li>
      <li>Contact Form</li>
      <li>ACF guided CMS (Advanced Custom Fields)</li>
      <li>Custom Template</li>
    </ul>
    
    <h4>Stack</h4>
    <ul>
      <li>PHP</li>
      <li>MySQL</li>
      <li>HTML5</li>
      <li>CSS3/Sass</li>
    </ul>

    <br />
    <a href="http://frankcolucci.com" target="_blank" class="button mg-top">View Website</a>
  </div>
</section>
