
<div class="media-centre box white pg">
  <div class="media-file mg-bottom" *ngFor="let img of files">
    <img [src]="config.fileURI + '/' + img" width="100" ngxClipboard [cbContent]="config.fileURI + '/' + img" (cbOnSuccess)="copied()" />
    <a (click)="delete(img)">x</a>
  </div>

  <div *ngIf="loading" class="mg-bottom">Loading Files...</div>

  <form>
    <div class="form-block">
      <input #uploadField id="upload-picture" class="input" [disabled]="progress >= 0" type="file" (change)="upload($event)" accept=".png,.jpg,.jpeg" />
      <div *ngIf="progress > 0" class="mg-top">Uploading  {{ progress }}%</div>
    </div>
  </form>
</div>
